<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer pt-5">
  <div class="container py-5">
    <div class="row g-5">
      <!-- Section Logo et description -->
      <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
        <a href="/home" class="d-inline-block mb-3">
          <h1 class="text-white">AI<span class="text-primary">.</span>Tech</h1>
        </a>
        <p class="mb-0">AI.Tech is your gateway to mastering the latest in AI technologies, offering a range of courses, certifications, and resources to accelerate your learning journey.</p>
      </div>

      <!-- Section Contact -->
      <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
        <h5 class="text-white mb-4">Get In Touch</h5>
        <p><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
        <p><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
        <p><i class="fa fa-envelope me-3"></i>"info``aitech.com"</p>
        <div class="d-flex pt-2">
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>
          <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>

      <!-- Section Liens populaires -->
      <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
        <h5 class="text-white mb-4">Popular Links</h5>
        <a class="btn btn-link" href="/about">About Us</a>
        <a class="btn btn-link" href="/contact">Contact Us</a>
        <a class="btn btn-link" href="/privacy-policy">Privacy Policy</a>
        <a class="btn btn-link" href="/terms-conditions">Terms & Conditions</a>
        <a class="btn btn-link" href="/career">Career</a>
      </div>

      <!-- Section Services -->
      <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.7s">
        <h5 class="text-white mb-4">Our Services</h5>
        <a class="btn btn-link" href="/courses">AI Courses</a>
        <a class="btn btn-link" href="/certification">Certification</a>
        <a class="btn btn-link" href="/projects">Projects</a>
        <a class="btn btn-link" href="/services">Consulting</a>
        <a class="btn btn-link" href="/services">Machine Learning Solutions</a>
      </div>
    </div>
  </div>

</div>
<!-- Footer End -->
